.navbar{
    position: relative;
}
.navbar-brand img{
    height: 60px;
}
.navbar-brand span{
    font-size: 2.5rem;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}
.test{
    position: fixed;
    left: 0;
    margin-left: -11%;
    top: 25%;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: right;
}
#partners{
    padding: 0 3rem;
}
#partners img{
    margin: 5px;
}
.Social a{
    margin-left: 10px;
}
#process{
    padding: 3rem;
    padding-top: 3rem;
}
#process .row{
    padding-top: 2rem;
}
#process i{
    font-size: 5rem;
}
#process .brdr{
    border-right: 1px solid white;
}
#process p{
    font-size: 1.25rem;
    font-weight: bold;
}
#about{
    padding: 2% 0;
}
#about i{
    border-radius: 50%;
    background: cornflowerblue;
    color: white;
    padding: 5%;
    font-size: 50px;
    transition: 1s;
}
#about i:hover{
    transform: rotate(360deg);
}
.horizontal-line{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #00457B;
}
.owl-carousel img{
    height: 300px;
}
.carousel-caption h1{
    font-size: 5rem;
    color: #D00000;
}
#sell:hover .overlay{
    opacity: 1;
}
.overlay{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.dropdown-menu a{
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
@media (max-width: 576px){
    .navbar{
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .navbar-brand img{
        height: 50px;
    }
    .navbar-brand span{
        font-size: 25px;
    }
    .test{
        top: 30%;
    }
    #process{
        padding: 0;
        padding-top: 1rem;
    }
    #process .row{
        padding-top: 1rem;
    }
    #process .brdr{
        border-right: 0;
    }
    #process i{
        font-size: 2.5rem;
    }
    #process p{
        font-size: 0.5rem;
    }
    #partners{
        padding: 0;
        padding-top: 3rem;
    }
}